homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret lat
  longitude: !secret long
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0

  unit_system: us_customary
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Los_Angeles

  country: US
  currency: USD
  
  customize: !include_dir_merge_named customize
  packages: !include_dir_named packages
  customize_glob:
    "group.all_*":
       homebridge_hidden: true
       emulated_hue: false
       hidden: false

  customize_domain:
    remote:
      homebridge_hidden: true
    media_player:
      homebridge_hidden: true
    automation:
      homebridge_hidden: true
# Enables the frontend
frontend:

person:

mobile_app:
cloud:

# Enables configuration UI
config:

hassio:

my:

system_health:

homekit:
  - filter: !include homekit_filter.yaml
    name: Homekit Main
    ip_address: 10.0.1.13
  - name: Front Door
    ip_address: 10.0.1.13
    mode: accessory
    port: 21067
    filter:
      include_entities:
        - lock.front_door_lock_locked
  - name: Kitchen Door
    ip_address: 10.0.1.13
    mode: accessory
    port: 21068
    filter:
      include_entities:
        - lock.kitchen_door_lock_locked

energy:

http:
  # Uncomment this to add a password (recommended!)
  # api_password: PASSWORD
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123


# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
#conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

recorder:
  purge_keep_days: 10
  exclude:
    domains:
      - zwave

# Track the sun
sun:


# Text to speech
tts:
  - platform: google_translate
    service_name: google_say

nest:
  client_id: !secret nest_id
  client_secret: !secret nest_secret
  project_id: !secret nest_project

#zwave:
#  usb_path: /dev/ttyUSB0
#  network_key: !secret zwave_network_key
#  device_config: !include zwave_device_config.yaml

    
group: !include_dir_merge_named group
automation mine: !include_dir_merge_list automation
automation ui: !include automations.yaml
sensor: !include_dir_merge_list sensor
binary_sensor: !include_dir_merge_list binary_sensor
script: !include_dir_merge_named script

input_datetime:
  coffee_machine:
    name: Coffee Machine On Time
    has_date: false
    has_time: true

device_tracker:

logger:
  default: warn

input_boolean: !include_dir_merge_named input_boolean
